header{
    text-align: center;
    font-weight: bold;
    background-color: #ef9a9a;
    color: white;
    margin: 20px;
    padding:15px;
    font-size: large;
}

/* #search-content {
    width: 60%;
    height: 40px;
} */

#search-section{
    margin-left: 60px;
    margin-top: 30px;
    height: 700px;
    font-weight: bold;
    color:#4db6ac;
}

#search-button {
    margin-left:180px;
}

#right-side-title {
    font-weight: bold;
    color:#4db6ac;
    margin: 30px;
}

.map-info-row{
    margin-top: 10px;
    width: 500px;
    height: 350px;
    margin-bottom: 20px;
}

.results-row {
    margin-top:50px;
    border-style: solid;
    background-color: #ef9a9a;
    height:100px;
}

footer{
    text-align: center;
}